/* Root Variables */


/* Nav Bar -> Same across all css sections ==========================*/
.navbar {
    background-color: orange;
}

.navbar-list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.navbar-list li {
    padding: 20px;
    background-color: purple;
}

.navbar-list li a {
    color: green;
    background-color: pink;
    border: 2px solid black;
    border-radius: 5px;
    text-decoration: none;
}

body {
    background-color: rgb(233, 224, 224);
    font-family: monospace;
}

img {
    height: 150px;
    width: 400px;
}

.btn-div {
    border: 3px solid black;
    border-radius: 10px;
}

.btn-div:hover {
    border: 3px solid yellow;
}

#site-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#site-section div {
    margin-top: 10px;
    margin-bottom: 10px;
}